/* page elements */
.content-grid {
  max-width: 1170px;
  margin: 0 auto;
}

/* table elements */
table {
  width: 100%;
}

/* form elements */
.buttons {
  margin: 0 auto;
}

.md-18 {
  font-size: 18px;
}

.cursor {
  color: #9E9E9E;
  cursor: pointer;
}

.material-icons:hover {
  color: black;
}
